@font-face {
  font-family: "iconfont"; /* Project id 4797085 */
  src: url('iconfont.woff2?t=1735360779859') format('woff2'),
       url('iconfont.woff?t=1735360779859') format('woff'),
       url('iconfont.ttf?t=1735360779859') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e7de";
}

.icon-phone:before {
  content: "\e7e3";
}

.icon-phone-fill:before {
  content: "\e86d";
}

.icon-mail-fill:before {
  content: "\e86f";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-github-fill:before {
  content: "\e885";
}

