html:has(.markdown-render.default) {
  --base-size: 14px;
}

.markdown-render.default {
  padding: 1rem;

  h1 {
    margin-bottom: 1.25rem;
    padding-bottom: 0.25rem;
    border-bottom-width: 1px;
    font-size: 1.75rem;
    font-weight: bold;
    line-height: 1.25;
  }

  h2 {
    margin: 1.25rem 0 0.75rem;
    padding: 0.125rem 0.75rem;
    background-image: linear-gradient(to right, rgb(43, 87, 154, 0.25), white);
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(43, 87, 154);
  }

  h3 {
    margin: 1.25rem 0 0.75rem;
    padding: 0.125rem 0.75rem;
    font-size: 1.125rem;
    font-weight: bold;
    color: rgb(43, 87, 154);
  }

  p {
    line-height: 2;
  }

  ul {
    list-style: disc;
    margin-left: 2rem;
  }

  ol {
    list-style: decimal;
    margin-left: 2rem;
  }

  li {
    line-height: 1.725rem;
  }
}
